* { margin: 0; padding: 0; box-sizing: border-box; }
*::after, *::before { box-sizing: border-box; }
html { font-size: 14px; }
body { font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Segoe UI, Arial, Roboto, PingFang SC, miui, Hiragino Sans GB, Microsoft Yahei, sans-serif; }
a { color: inherit; text-decoration: none; }
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
button { font: inherit; }
ol, ul { list-style: none; }